<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="PyCon Colombia 2017 will be the first national conference for users and developers of the Python programming language. This year it will be held at Universidad Santo Tomás from February 10-11.">

    <meta property="og:site_name" content="PyCon Colombia"/>
    <meta property="og:title" content="PyCon Colombia | February 10th - 11th 2017 | Bogotá, Colombia"/>
    <meta property="og:description" content="PyCon Colombia 2017 will be the first national conference for users and developers of the Python programming language. This year it will be held at Universidad Santo Tomás from February 10-11."/>
    <meta property="og:image" content="http://pycon.co/static/images/opimage.png">
    <meta property="og:url" content="http://pycon.co/">
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pyconcolombia">
    <meta name="twitter:creator" content="@soyelhijo">
    <meta name="twitter:title" content="PyCon Colombia | February 10th - 11th 2017 | Bogotá, Colombia">
    <meta name="twitter:description" content="PyCon Colombia 2017 will be the first national conference for users and developers of the Python programming language. This year it will be held at Universidad Santo Tomás from February 10-11.">
    <meta name="twitter:image" content="http://pycon.co/static/images/opimage.png">

    <title>PyCon Colombia | February 10th - 11th 2017 | Bogotá, Colombia</title>

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/libs/animate.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="static/js/libs/wow.js"></script>
    <script src="static/js/libs/dialog-polyfill.js"></script>

    <!-- Facebook and twitter libraries -->
    <script src="https://npmcdn.com/react@15.3.0/dist/react-with-addons.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>

    <script>
      $(document).ready(function() {
      });
    </script>

  </head>

  <body>
    <div class="mdl-layout mdl-js-layout layout-home">

      <main><!-- class="mdl-layout__content" -->
        <div><!-- class="page-content" -->

          <div class="container-fluid container-no-padding header-content">

            <div class="dust">
              <div class="planets">
                <div class="stars-bg-complete">
                  <div class="container-box">
                    
                    <div class="header-title">
                        <h1>Pycon Colombia 2017</h1>
                        <div class="subtitle">
                          <h2>Coding the future</h2>
                          <div class="python-logo"></div>
                        </div>
                    </div>

                    <div class="header-invitation">
                      <div class="blue-container text-center">
                        <div class="city">Bogota, Colombia</div>
                        <div class="date">February 10 and 11, 2017</div>
                        <div class="social-btn">
                          <!-- Twitter follow button -->
                          <a href="https://twitter.com/pyconcolombia" class="twitter-follow-button" data-show-count="false">Follow @pyconco</a>
                        </div>
                        <div class="social-btn">
                          <!-- Twitter share button -->
                          <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=OMG%2C%20the%20first%20PyCon%20in%20Colombia%20is%20next%20year!!%20www.pycon.co%20%40pyconcolombia">Tweet</a>
                        </div>
                        <div class="social-btn">
                          <div id="fb-root"></div>
                          <!-- Facebook share and like button -->
                          <div class="fb-like" data-href="https://www.facebook.com/pyconcolombia" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        </div>
                      </div>
                      <!-- <div class="blue-bars"></div> -->
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

          </div><!-- header-content ends -->

          <div class="container-fluid container-no-padding sections-container">
          
            <div class="dust">
              <div class="stars-bg">
                <div class="container-box">

                  <div class="section-content speakers-content">
                    <div class="title-section speakers-title">
                      Key note speakers
                    </div>
                    <div class="row row-centered">
                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="speaker">
                          <img src="static/images/speaker-01.png">
                          <div class="speaker-name">Jacob Kaplan-Moss</div>
                          <div class="speaker-description">Co-creator of Django</div>
                          <div class="speaker-links">
                            <a href="https://jacobian.org/" target="_blank"><div class="speaker-link link-web"></div></a>
                            <a href="https://twitter.com/jacobian" target="_blank"><div class="speaker-link link-twitter"></div></a>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="speaker">
                          <img src="static/images/speaker-00.png">
                          <div class="speaker-name">Awesome speaker</div>
                          <div class="speaker-description">Coming soon...</div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="speaker">
                          <img src="static/images/speaker-00.png">
                          <div class="speaker-name">Awesome speaker</div>
                          <div class="speaker-description">Coming soon...</div>
                        </div>
                      </div>

                      <!--
                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="speaker">
                          <img src="images/speaker-02.png">
                          <div class="speaker-name">Elizabeth Ramirez</div>
                          <div class="speaker-description">Senior Software Engineer at The New York Times</div>
                          <div class="speaker-links">
                            <a href="https://twitter.com/eramirem"><div class="speaker-link link-twitter"></div></a>
                            <a href="https://www.linkedin.com/in/eramirem"><div class="speaker-link link-linkedin"></div></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="speaker">
                          <img src="images/speaker-03.png">
                          <div class="speaker-name">Eric Holscher</div>
                          <div class="speaker-description">Co-founder of Read the Docs and Write the Docs</div>
                          <div class="speaker-links">
                            <a href="http://ericholscher.com/"><div class="speaker-link link-web"></div></a>
                            <a href="https://twitter.com/ericholscher"><div class="speaker-link link-twitter"></div></a>
                          </div>
                        </div>
                      </div>

                      
                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="speaker">
                          <img src="images/speaker-03.png">
                          <div class="speaker-name">Mark Cutts</div>
                          <div class="speaker-description">Google Engineer</div>
                          <div class="speaker-links">
                            <a href=""><div class="speaker-link link-web"></div></a>
                            <a href=""><div class="speaker-link link-twitter"></div></a>
                            <a href=""><div class="speaker-link link-facebook"></div></a>
                            <a href=""><div class="speaker-link link-linkedin"></div></a>
                          </div>
                        </div>
                      </div>
                      -->

                    </div><!-- row ends -->
                  </div><!-- speakers-content ends -->

                  <div class="section-content sponsors-content">
                    <div class="title-section sponsors-title">
                      Sponsors
                    </div>
                    <div class="row row-centered">
                      <div class="col-xs-12 col-sm-5 col-md-6 col-centered">
                        <div class="sponsors">
                          <a href="https://www.python.org/psf/" target="_blank"><div class="sponsor-logo sponsor-logo-python-foundation"></div></a>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-5 col-md-6 col-centered">
                        <div class="sponsors">
                          <a href="https://www.toptal.com/" target="_blank"><div class="sponsor-logo sponsor-logo-toptal"></div></a>
                        </div>
                      </div>
                    </div><!-- row ends -->
                  </div><!-- speakers-content ends -->

                  <div class="section-content organizers-content">
                    <!--
                    <div class="title-section organizers-title">
                      Organizers
                    </div>
                    <div class="row row-centered">
                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="organizer">
                          <img src="images/organizer-01.png">
                          <div class="organizer-name">Mark Cutts</div>
                          <div class="organizer-description">Google Engineer</div>
                          <div class="organizer-links">
                            <a href=""><div class="organizer-link link-web"></div></a>
                            <a href=""><div class="organizer-link link-twitter"></div></a>
                            <a href=""><div class="organizer-link link-facebook"></div></a>
                            <a href=""><div class="organizer-link link-linkedin"></div></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="organizer">
                          <img src="images/organizer-01.png">
                          <div class="organizer-name">Mark Cutts</div>
                          <div class="organizer-description">Google Engineer</div>
                          <div class="organizer-links">
                            <a href=""><div class="organizer-link link-web"></div></a>
                            <a href=""><div class="organizer-link link-twitter"></div></a>
                            <a href=""><div class="organizer-link link-facebook"></div></a>
                            <a href=""><div class="organizer-link link-linkedin"></div></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                        <div class="organizer">
                          <img src="images/organizer-01.png">
                          <div class="organizer-name">Mark Cutts</div>
                          <div class="organizer-description">Google Engineer</div>
                          <div class="organizer-links">
                            <a href=""><div class="organizer-link link-web"></div></a>
                            <a href=""><div class="organizer-link link-twitter"></div></a>
                            <a href=""><div class="organizer-link link-facebook"></div></a>
                            <a href=""><div class="organizer-link link-linkedin"></div></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    -->
                    <div class="organizers-advice">
                      We're looking for volunteers, send an email to <a href="mailto:hello@pycon.co">hello@pycon.co</a>
                    </div>
                  </div><!-- organizers-content ends -->

                </div><!-- container-box ends -->

                <footer>
                  <div class="footer-advice">Pycon Colombia is non-profit community conference organized by volunteers of the Python and Tech community</div>
                  <div class="footer-email"><a href="mailto:hello@pycon.co">hello@pycon.co</a></div>
                  <div class="footer-logos">
                    <a href="https://twitter.com/pyconcolombia" target="_blank"><div class="footer-logo footer-logo-twitter"></div></a>
                    <a href="https://www.facebook.com/pyconcolombia/" target="_blank"><div class="footer-logo footer-logo-facebook"></div></a>
                  </div>
                </footer>
              </div>
            </div>

          </div><!-- sections-container ends -->

        </div>
      </main>
    </div>

    <img class="hidden" src="images/opimage.jpg" />

  </body>

  <!-- Code that enables Facebook buttons -->
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Code that enables twitter buttons -->
  <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
      t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>

</html>